.app {
  width: 100vw;
  height: 100vh;
}

.bg-main {
  background-color: #2F4050;
}


.sidebar {
  height: 100%;
  width: 250px;
}

.sidebar li {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;

}